<div class="container">
    <h1>Lista de Compras</h1>

    <form #frm="ngForm" (ngSubmit)="adicionarItem()" class="add-item-form">
        <input [(ngModel)]="item"  type="text" name="item" id="item" placeholder="Digite o nome do item">
        <button type="submit">Adicionar</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           
                <tr *ngForm="let i of lista">
                    <td>{{i.id}}</td>
                    <td>{{i.nome}}</td>
                    <td><input type="checkbox"></td>
                </tr>
            
        </tbody>
    </table>
</div>