<div class="container">
    <h1>Lista de Compras</h1>

    <form #frm="ngForm" (ngSubmit)="adicionarItem()" class="add-item-form">
        <input [(ngModel)]="item"  type="text" name="item" id="item" placeholder="Digite o nome do item">
        <button type="submit">Adicionar</button>
        <button (click)="limparLista()" type="button">Limpar lista</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           
                <tr *ngFor="let i of lista">
                    <td>{{i.id}}</td>
                    <td> <span [ngClass]="{ 'item-riscado' : i.comprado }">{{i.nome}}</span> </td>
                    <td><input type="checkbox" 
                        [checked]="i.comprado" 
                        (click)="riscarItem(i)">
                    </td>
                </tr>
            
        </tbody>
    </table>
</div>